<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% extends "base.html" %}

    {% block content %}
    <h4>{{ threads.count }} Threads </h4>
    <table>
        <tbody>
            {% for thread in threads %}
            <tr>
                <td><a href="{% url 'thread_detail' thread.id %}">{{ thread.title }}</a></td>
                <td>{{ thread.description }}</td>
                <td>{{ thread.date }}</td>
                <td>{{ thread.comment_set.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}
</body>
</html>