<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% extends "base.html" %}
    <!-- Other HTML content -->
    {% load static %}

    {% block content %}
    <h4>{{ results.count }} Threads </h4>
    <button class="sort-button" id="sort-most-recent" data-sort="date" onclick="loadSortedThreads('recent', 'search_results'); return false;">Sort bt Most Recent</button>
    <button class="sort-button" id="sort-most-views" data-sort="view_count" onclick="loadSortedThreads('views', 'search_results'); return false;">Sort by Most Views</button>
    <div id="isModerator" data-is-moderator="{{ is_moderator }}"></div>

    <table>
        <tbody id="threads-container">
        </tbody>
    </table>
    <script src="{% static 'js/threads.js' %}"></script>
    {% endblock %}
</body>
</html>